html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 50px;
}

.structure {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 1240px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__logo img {
  width: 100px;
}
.header__nav ul {
  display: flex;
  gap: 26px;
  list-style: none;
}
.header__nav a {
  text-decoration: none;
  color: black;
}
.header__nav a:hover {
  text-decoration: underline;
}

.footer {
  background-color: black;
  color: white;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer .footer__logo {
  margin-bottom: 5px;
}
.footer .footer__logo-img {
  width: auto;
  height: 50px;
}
.footer .footer__text {
  font-size: 12px;
  text-align: center;
}

.cards {
  width: 1240px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
  justify-items: center;
  background-color: #F6F6F6;
  border-radius: 10px;
  margin: auto;
  padding: 40px 10px 40px 10px;
  margin-top: 40px;
}

.card {
  width: 90%;
  height: 340px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  z-index: 1;
}
.card__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.card__title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  margin: 0;
  font-weight: normal;
  z-index: 2;
}

.banniere {
  width: 100%;
  max-width: 1240px;
  height: 223px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.banniere__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.banniere__title {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  font-family: Montserrat;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.carroussel {
  width: 100%;
  max-width: 1240px;
  height: 415px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.carroussel__container {
  width: 100%;
  height: 100%;
}

.carroussel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.carroussel__controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carroussel__arrow {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.carroussel__arrow:hover {
  transform: scale(1.1);
}

.carroussel__counter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.carroussel--single .carroussel__controls,
.carroussel--single .carroussel__counter {
  display: none;
}

.logement-info {
  width: 1240px;
  margin: 0 auto;
}

.logement-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logement-details {
  flex: 1;
}
.logement-details .logement-title {
  font-size: 24px;
  font-weight: normal;
  color: #FF6060;
}
.logement-details .logement-location {
  font-size: 18px;
  color: black;
}
.logement-details .logement-tags {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.logement-details .logement-tags .tag {
  background: #FF6060;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.logement-host-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.logement-host {
  display: flex;
  align-items: center;
  text-align: right;
}
.logement-host .host-name {
  margin-right: 10px;
  color: #FF6060;
  width: 80px;
}
.logement-host .host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.logement-rating {
  display: flex;
  gap: 5px;
}
.logement-rating .fa-star {
  font-size: 20px;
}
.logement-rating .filled-star {
  color: #FF6060;
}
.logement-rating .empty-star {
  color: #E3E3E3;
}

.logement-collapses {
  display: flex;
  gap: 76px;
  margin-top: 24px;
}

.collapse-description,
.collapse-equipments {
  width: 582px;
  flex-shrink: 0;
}

.collapse-header-description,
.collapse-header-equipments {
  background-color: #ff6060;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.collapse-content-description,
.collapse-content-equipments {
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  margin-top: -5px;
  max-height: 200px;
  overflow-y: auto;
}

.error-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 100px;
}

.error-404 {
  font-size: 288px;
  color: #ff6060;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 0px;
}

.error-message {
  font-size: 36px;
  color: #ff6060;
  margin-bottom: 30px;
}

.error-link {
  font-size: 18px;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
.error-link:hover {
  color: #ff6060;
}

.about-container {
  width: 1240px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.collapse {
  background-color: #ff6060;
  border-radius: 5px;
  overflow: hidden;
  width: 1023px;
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.collapse-title {
  flex-grow: 1;
}

.collapse-header i {
  font-size: 20px;
}

.collapse-content {
  background: #f6f6f6;
  padding: 15px;
  color: black;
}

@media (max-width: 1024px) {
  .header {
    width: 90%;
    padding-top: 20px;
  }
  .cards {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .banniere {
    width: 90%;
  }
  .carroussel {
    width: 90%;
  }
  .logement-info {
    width: 90%;
  }
  .logement-collapses {
    flex-direction: row;
    gap: 20px;
  }
  .collapse-description,
  .collapse-equipments {
    width: 50%;
  }
  .about-container {
    width: 90%;
  }
  .collapse {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
    flex-direction: row;
    align-items: center;
  }
  .header__logo img {
    width: 110px;
  }
  .footer .footer__text {
    font-size: 12px;
    text-align: center;
    width: 25%;
  }
  .cards {
    grid-template-columns: 1fr;
    padding: 10px;
    background-color: white;
    width: 90%;
  }
  .card {
    width: 100%;
    height: 300px;
  }
  .banniere {
    height: 150px;
  }
  .banniere__title {
    font-size: 24px;
    top: 40%;
    left: 40%;
    width: 60%;
  }
  .carroussel {
    width: 90%;
    max-height: 215px;
  }
  .carroussel__arrow--left img {
    width: 50%;
  }
  .carroussel__arrow--right img {
    width: 50%;
  }
  .carroussel__controls {
    top: 35%;
  }
  .carroussel__counter {
    font-size: 16px;
  }
  .logement-header {
    flex-direction: column;
    gap: 10px;
  }
  .logement-host-rating {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }
  .logement-collapses {
    flex-direction: column;
    gap: 20px;
  }
  .collapse-description,
  .collapse-equipments {
    width: 90%;
  }
  .about-container {
    padding: 10px;
    margin: 10px;
  }
  .collapse {
    width: 100%;
  }
  .error-container {
    gap: 50px;
  }
  .error-404 {
    font-size: 144px;
  }
  .error-message {
    font-size: 20px;
  }
  .error-message span {
    display: block;
  }
  .error-link {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */